<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login - Travel and Tourism - Trip Planner</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #ebe8e8;
        }
        header {
            background-color: #225166;
            color: rgb(252, 254, 254);
            padding: 20px;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 36px;
        }
    </style>
</head>
<body>
    <header>
        <h1>Login</h1>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/place">place</a></li>
                <li><a href="/about-us">about-us</a></li>
                <li>
                    <a href="/login">logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="login-container">
        <h2>Login</h2>
        <div th:if="${param.error}" class="error-message">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="logout-message">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label>User Name:</label>
                <input type="text" name="username" required />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" required />
            </div>
            <div>
                <input type="submit" value="Sign In" />
            </div>
        </form>
    </div>
</body>
</html>
